@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.decision-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
    overflow-y: auto;

    .heading {
        align-self: center;

        @include desktop {
            width: 422px;
            margin: 0 auto;
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;

            @include desktop {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .contents {
        position: relative;

        .char-img {
            position: absolute;
            z-index: 0;
            top: -5vh;
            width: 35vh;
            left: 50%;
        }

        .decisions {
            display: flex;
            z-index: 0;
            position: relative;
            justify-content: space-around;
            flex-direction: column;
            padding-top: 7vh;

            @include desktop {
                flex-direction: row;
                margin: 0 auto;
                width: 80%;
                justify-content: center;
                gap: 0 22px;
                padding-top: 16vh;
            }

            .decision-selector {
                @include desktop {
                    width: 392px;

                    .decision {
                        max-width: 95%;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .footer {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(17px);
        -webkit-backdrop-filter: blur(17px);
        border: 1px solid #5a4c90;
        padding: 16px 10px;
        background: linear-gradient(
            261.04deg,
            rgba(90, 76, 144, 0.19) -5.42%,
            rgba(43, 29, 80, 0) 94.95%
        );

        p {
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;
            text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
            margin-bottom: 25px;
            max-width: 90%;
        }
    }
}
