.primary-button {
    background: linear-gradient(
        112.88deg,
        rgba(255, 255, 255, 0.38) -1.79%,
        rgba(255, 255, 255, 0) 103.17%
    );
    border: 1px solid #ffffff;
    backdrop-filter: blur(22px);
    border-radius: 20px;
}
