@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.impact-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    .heading {
        border-radius: 12px;
        height: fit-content;
        align-self: center;
        backdrop-filter: blur(17px);
        -webkit-backdrop-filter: blur(17px);
        border: 1px solid #5a4c90;
        padding: 16px 10px;
        background: linear-gradient(
            261.04deg,
            rgba(90, 76, 144, 0.19) -5.42%,
            rgba(43, 29, 80, 0) 94.95%
        );

        @include desktop {
            width: 422px;
        }

        p {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;
            text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
            max-width: 82%;
            margin: 0 auto;

            @include desktop {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    .contents {
        position: relative;
        display: flex;

        @include desktop {
            margin: 0 auto;
        }

        .dialog-container {
            position: absolute;
            max-width: 100%;
            right: 0vw;
            top: 0;
            z-index: 1;

            @include desktop {
                max-width: 100%;
                right: 12vw;
            }

            .dialog-box {
                @include desktop {
                    max-width: 100%;
                }
            }
        }

        .character {
            height: 53vh;
            right: -14vw;
            top: 30px;
            position: relative;

            @include desktop {
                right: 28vw;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;
            text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
            margin-bottom: 25px;
            max-width: 90%;

            @include desktop {
                font-size: 16px;
                line-height: 26px;
                max-width: 70%;
            }
        }
    }
}
