@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.decision-preview-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
    overflow-y: auto;

    .heading {
        align-self: center;
        z-index: 0;

        p {
            margin: 0;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;

            @include desktop {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .contents {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 25%;

            @include desktop {
                height: 150px;
                width: 150px;
            }
        }

        p {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.152174px;
            color: #ffffff;
            text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
        }
    }

    .footer {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(17px);
        -webkit-backdrop-filter: blur(17px);
        border: 1px solid #5a4c90;
        padding: 16px 10px;
        background: linear-gradient(
            261.04deg,
            rgba(90, 76, 144, 0.19) -5.42%,
            rgba(43, 29, 80, 0) 94.95%
        );

        @include desktop {
            width: 422px;
            margin: 0 auto;
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;
            text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
            margin-bottom: 25px;
            max-width: 90%;

            @include desktop {
                font-size: 16px;
                line-height: 24px;
                max-width: 70%;
            }
        }
    }
}
