@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.opinion-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
    padding: 64px 20px 40px 20px;
    position: relative;
    overflow-y: auto;

    .background-layer-2 {
        height: 100%;
        width: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(
            180deg,
            rgba(17, 13, 27, 0.88) 0%,
            rgba(13, 5, 23, 0.88) 70.67%
        );
        mix-blend-mode: normal;
    }

    .heading {
        align-self: center;

        @include desktop {
            width: 422px;
            margin: 0 auto;
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;

            @include desktop {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .contents {
        position: relative;

        @include desktop {
            padding-top: 10vh;
        }

        .char-img {
            position: absolute;
            z-index: 0;
            top: -5vh;
            width: 35vh;
            left: 50%;

            @include desktop {
                position: absolute;
                z-index: 0;
                top: 12vh;
                width: 45vh;
                left: 50%;
            }
        }

        .opinions {
            display: flex;
            z-index: 0;
            position: relative;
            justify-content: space-around;
            flex-direction: column;
            padding-top: 15vh;

            @include desktop {
                flex-direction: row;
            }

            .choice {
                display: flex;
                flex-direction: column;

                img {
                    object-fit: contain;
                    height: 50%;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.152174px;
                    color: #ffffff;
                    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
                }
            }
        }
    }

    .footer {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(17px);
        -webkit-backdrop-filter: blur(17px);
        border: 1px solid #5a4c90;
        padding: 16px 10px;
        background: linear-gradient(
            261.04deg,
            rgba(90, 76, 144, 0.19) -5.42%,
            rgba(43, 29, 80, 0) 94.95%
        );

        p {
            margin: 0;

            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.152174px;
            color: #ffffff;
            text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
            margin-bottom: 25px;
            max-width: 90%;
        }
    }
}
