.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:before {
        content: ' ';
        background-image: url('../../assets/images/sheep-food.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 700px;
        height: 700px;
        filter: brightness(0.4);
        left: -39vw;
        top: 1vh;
        transform: scale(0.8);
    }

    .background-layer {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
            180deg,
            rgba(17, 13, 27, 0.87) 0%,
            rgba(13, 5, 23, 0.87) 70.67%
        );
        mix-blend-mode: normal;
    }
    .content {
        z-index: 0;
        .dialog-container {
            position: absolute;
            top: 10vh;
            left: 10vw;
            max-width: 84%;
            z-index: 1;
        }
        .details {
            position: absolute;
            left: 6vw;
            //transform: translateY(100vh);
            p {
                margin: 0;
                &:nth-of-type(1) {
                    font-family: 'Baloo Chettan 2';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.2px;
                    color: #ffffff;
                    margin-bottom: 6px;
                }
                &:nth-of-type(2) {
                    font-family: 'Baloo Chettan 2';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    color: #b6b6b6;
                }
            }
        }
        .character {
            position: absolute;
            width: 45vh;
            transform: translateY(14vh);
        }
    }
    .options-container {
        height: 45vh;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .question {
            margin: 0;
            font-family: 'Baloo Chettan 2';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #ffffff;
            text-align: center;
        }

        .options {
            margin-top: 20px;

            > div {
                margin-bottom: 15px;
                padding: 16px;
                background: linear-gradient(
                    112.88deg,
                    rgba(255, 255, 255, 0.18) -1.79%,
                    rgba(255, 255, 255, 0) 103.17%
                );
                -webkit-backdrop-filter: blur(22px);
                backdrop-filter: blur(22px);
                border-radius: 20px;
                border: 1px solid #e1c9ff;
                transition: all 0.3s linear;
                &.active {
                    transition: all 0.3s linear;
                    background: linear-gradient(
                        112.88deg,
                        #ffffff -1.79%,
                        #cac0d5 103.17%
                    );
                    p {
                        border: none;
                        color: #0d0517;
                        text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
                    }
                }
                p {
                    margin: 0;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
        .villager-count {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
                display: flex;
                align-items: center;
            }
            span {
                font-family: 'Baloo Chettan 2';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.2px;
                color: #ffffff;
                text-align: center;
                &:nth-of-type(2) {
                    color: #717171;
                }
            }
        }
    }
}
