.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    overflow: hidden;

    &:before {
        content: ' ';
        background-image: url('../../assets/images/sheep-food.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 700px;
        height: 700px;
        filter: blur(6px);
        left: -39vw;
        top: 1vh;
        transform: scale(0.8);
    }

    .background-layer {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(
            366.71% 121.89% at 50% -15.38%,
            rgba(4, 6, 12, 0.58) 0%,
            rgba(4, 6, 12, 0.876204) 39.37%,
            #000000 79.63%
        );
    }
    .content {
        z-index: 0;
        .dialog-container {
            position: absolute;
            top: 17vh;
            left: 10vw;
            max-width: 84%;
            z-index: 1;
        }
        .details {
            position: absolute;
            left: 6vw;
            transform: translateY(100vh);
            p {
                margin: 0;
                &:nth-of-type(1) {
                    font-family: 'Baloo Chettan 2';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.2px;
                    color: #ffffff;
                    margin-bottom: 6px;
                }
                &:nth-of-type(2) {
                    font-family: 'Baloo Chettan 2';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    color: #b6b6b6;
                }
            }
        }
        .character {
            position: absolute;
            right: 0;
            width: 45vh;
            transform: translateY(100vh);
        }
    }
    .options-container {
        background: linear-gradient(345.7deg, #1b1d24 10.55%, #04060c 96.76%);
        box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.55);
        height: 45vh;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .question {
            margin: 0;
            font-family: 'Baloo Chettan 2';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #ffffff;
            text-align: center;
        }

        .options {
            margin-top: 20px;

            > div {
                background: linear-gradient(
                    88.4deg,
                    rgba(255, 255, 255, 0.16) -5.78%,
                    rgba(152, 140, 130, 0) 46.15%,
                    rgba(222, 222, 222, 0.06) 99.76%
                );
                backdrop-filter: blur(3px);
                border-radius: 18px;
                margin-bottom: 15px;
                padding: 16px;
                border: #fff 1px solid;
                p {
                    margin: 0;
                    font-family: 'Baloo Chettan 2';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
        .villager-count {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
                display: flex;
                align-items: center;
            }
            span {
                font-family: 'Baloo Chettan 2';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.2px;
                color: #ffffff;
                text-align: center;
                &:nth-of-type(2) {
                    color: #717171;
                }
            }
        }
    }
}
