// variables
@import '../../styles/variables/colors';
@import '../../styles/variables//mixins';

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    overflow: hidden;
    .content {
        z-index: 0;

        .dialog-container {
            position: absolute;
            top: 10vh;
            left: 10vw;
            max-width: 84%;
            z-index: 1;

            @include desktop {
                left: 27vw;
            }

            .dialog-box {
                @include desktop {
                    width: 440px;
                }
            }
        }

        .user-info {
            @include desktop {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        .details {
            position: absolute;
            left: 6vw;
            z-index: 1;

            @include desktop {
                position: relative;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                bottom: 180px;
            }

            p {
                margin: 0;
                &:nth-of-type(1) {
                    font-family: 'Baloo Chettan 2';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.2px;
                    color: #ffffff;
                    margin-bottom: 6px;
                }
                &:nth-of-type(2) {
                    font-family: 'Baloo Chettan 2';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    color: #b6b6b6;
                }
            }
        }
        .character {
            position: absolute;
            width: 45vh;
            transform: translateY(14vh);

            @include desktop {
                position: relative;
                top: 60px;
                left: 23vh;
                width: 22vh;
                margin-bottom: 20px;
            }
        }
    }
    .options-container {
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .question {
            margin: 0;
            font-family: 'Baloo Chettan 2';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                padding-left: 8px;
            }
        }

        .options {
            margin-top: 20px;

            @include desktop {
                display: flex;
                max-width: 80vw;
                margin: 20px auto 0;
                gap: 0 14px;
            }

            > div {
                margin-bottom: 15px;
                padding: 16px;
                background: linear-gradient(
                    112.88deg,
                    rgba(255, 255, 255, 0.18) -1.79%,
                    rgba(255, 255, 255, 0) 103.17%
                );
                -webkit-backdrop-filter: blur(22px);
                backdrop-filter: blur(22px);
                border-radius: 20px;
                border: 1px solid #e1c9ff;
                transition: all 0.3s linear;

                @include desktop {
                    width: 100%;
                }

                &.active {
                    transition: all 0.3s linear;
                    background: linear-gradient(
                        112.88deg,
                        #ffffff -1.79%,
                        #cac0d5 103.17%
                    );
                    p {
                        border: none;
                        color: #0d0517;
                        text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
                    }
                }
                p {
                    margin: 0;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
        .villager-count {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include desktop {
                padding: 30px 0;
            }
            > div {
                display: flex;
                align-items: center;
            }

            .pager-style {
                @include desktop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding-left: 131px;
                }
            }

            span {
                font-family: 'Baloo Chettan 2';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.2px;
                color: #ffffff;
                text-align: center;
                &:nth-of-type(2) {
                    color: #717171;
                }
            }
        }
    }
}
